<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<HTML>
<head>
<title>Testing Results</title>
</head>
<body leftmargin='7' marginwidth='20' topmargin='7' marginheight='10'
	vlink='#9966cc'>
	<center>
		<H1>
			<Font Color="Blue" Size="35"> RAPID DATA COMPARATOR </Font>
			<H1>
	</Center>
	<TABLE WIDTH='450' BORDER='1'>
		<TR>
			<TD WIDTH='40%' BGCOLOR='D2ECFF'><FONT FACE='VERDANA'
				COLOR='#666666' SIZE=2><B>Build:</B></FONT></TD>
			<TD WIDTH='66%' BGCOLOR='D2ECFF'><FONT FACE='VERDANA'
				COLOR='#666666' SIZE=2>$build</FONT></TD>
		</TR>
		<TR>
			<TD WIDTH='40%' BGCOLOR='D2ECFF'><FONT FACE='VERDANA'
				COLOR='#666666' SIZE=2><B>Type of Testing:</B></FONT></TD>
			<TD WIDTH='60%' BGCOLOR='D2ECFF'><FONT FACE='VERDANA'
				COLOR='#666666' SIZE=2>$typeOfTesting</FONT></TD>
		</TR>
	</TABLE>
	<BR>
	<DIV
		style='color: #999; font-weight: bold; font-size: 18pt; font-family: Mic Shell Dlg; text-align: center; border-bottom: 3px dotted #999'>
	</DIV>
	<br>
	<TABLE style="table-layout: fixed" COLS=5 WIDTH='100%' BORDER=1
		cellspacing=3 RULES=GROUPS FRAME=BOX bgcolor='white' align="center"
		valign="center">
		</TR>
		<TR align="center" valign="center">
			<TD align="center" valign="center" colspan=2 BGCOLOR=BACDCD><FONT
				FACE='VERDANA' COLOR='yellow' SIZE=2><B>UNIQUE_KEY</B></FONT></TD>
			<TD align="center" valign="center" colspan=2 BGCOLOR=BACDCD><FONT
				FACE='VERDANA' COLOR='yellow' SIZE=2><B>$UNIQUE_KEY</B></FONT></TD>

		</TR>
	</TABLE>
	<TABLE style="table-layout: fixed" COLS=5 WIDTH='100%' BORDER="1px"
		cellspacing=3 RULES=GROUPS FRAME=BOX BGCOLOR='D8EEEE'>
		<TR>
			<TD colspan=4 BGCOLOR=BACDCD><FONT FACE='VERDANA' COLOR='yellow'
				SIZE=2><B>$ResultHeader</B></FONT></TD>
		</TR>
		<TR>
			<TD WIDTH='8%' BORDER=1 BGCOLOR=BACDCD><FONT FACE='VERDANA'
				COLOR='666699' SIZE=2><B>Column Name</B></FONT></TD>
			<TD WIDTH='9%' BORDER=1 BGCOLOR=BACDCD><FONT FACE='VERDANA'
				COLOR='666699' SIZE=2><B>Source Value</B></FONT></TD>
			<TD WIDTH='10%' BORDER=1 BGCOLOR=BACDCD><FONT FACE='VERDANA'
				COLOR='666699' SIZE=2><B>Target Value</B></FONT></TD>
			<TD WIDTH='32%' BORDER=1 BGCOLOR=BACDCD><FONT FACE='VERDANA'
				COLOR='666699' SIZE=2><B>Status</b></FONT></TD>
		</TR>
		$results
		</TD>
		</TR>
	</TABLE>